* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

#app {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.logos {
  position: absolute;
  top: 5%;
  left: 6%;
  z-index: 2;
  width: 240px;
  opacity: .46;
}

#whiteBoardBox {
  position: relative;
  z-index: 8;
  width: 100%;
  height: 100%;
}

.toolbar {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  height: 52px;
  padding: 10px 20px;
  box-shadow: 0 0 10px 0 rgba(34, 34, 34, .26);
  .toolbar-operates {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    li {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 15px;
      opacity: .46;
      cursor: pointer;
      transition: opacity .2s;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        font-size: 32px;
      }
      &:nth-child(5),
      &:nth-child(6) {
        font-size: 30px;
      }
      &:nth-child(7),
      &:nth-child(8) {
        font-size: 26px;
      }
      &:nth-child(9),
      &:nth-child(10) {
        font-size: 22px;
      }
      &:hover {
        opacity: 1;
      }
      &:active {
        opacity: .8;
      }
      &.active {
        opacity: 1;
      }
    }
  }
}

@font-face {
  font-family: "iconfont";
  src: url('./iconfont/iconfont.woff2') format('woff2'),
       url('./iconfont/iconfont.woff') format('woff'),
       url('./iconfont/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-select:before {
  content: "\e67b";
}

.icon-brush:before {
  content: "\e601";
}

.icon-line0:before {
  content: "\e6aa";
}

.icon-line1:before {
  content: "\e67e";
}

.icon-line2:before {
  content: "\e649";
}

.icon-arrow0:before {
  content: "\e69a";
}

.icon-arrow1:before {
  content: "\e6df";
}

.icon-arrow2:before {
  content: "\e66c";
}

.icon-circle1:before {
  content: "\e60b";
}

.icon-circle2:before {
  content: "\e65a";
}

.icon-rec1:before {
  content: "\e6d2";
}

.icon-rec2:before {
  content: "\e602";
}

.icon-text:before {
  content: "\eb76";
}

.icon-eraser:before {
  content: "\e610";
}

.icon-delete:before {
  content: "\e600";
}

.icon-recall:before {
  content: "\e638";
}